
#weather{
width:30%;
float:right;
height:100%;
}

#news{
width:30%;
float:right;
height:100%;
}

#announcements{
position:absolute;
width:38%;
top:0%;
left:0%;
height:100%;
float:right;
}

body{
overflow:hidden;
background-color:#444444;
}

iframe{
border:2px solid black;
border-radius:25px;
background-color:white;
margin:5px;
}
